<!-- Center content -->
<ion-view view-title="Barcode Scanner">
  <ion-nav-bar class="bar-dark">
    <h1 class="title">Barcode Scanner</h1>
    <!-- New Task button-->
    <ion-nav-buttons side="left">
      <!-- Toggle left side menu -->
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button" ng-click="scanCode()">
        <i class="icon ion-qr-scanner"></i>
        Scan Now
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    <div class="card">
      <div class="item item-divider">Scan Results</div>
      <div class="item item-text-wrap">{{scannedCode}}
      </div>
    </div>
  </ion-content>
</ion-view>
