<!-- Center content -->
<ion-view view-title="Products">
  <ion-nav-bar class="bar-dark">
    <h1 class="title">Todo</h1>
    <!-- New Task button-->
    <ion-nav-buttons side="left">
      <!-- Toggle left side menu -->
      <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">
      <button class="button button-icon" ng-click="newTutorial()">
        <i class="icon ion-compose"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>
  <ion-content>
    DEMO
  </ion-content>
</ion-view>
