<div class="modal">

  <!-- Modal header bar -->
  <ion-header-bar class="bar-secondary">
    <h1 class="title">New Todo</h1>
    <button class="button button-clear button-positive" ng-click="closeNewTodo()">Cancel</button>
  </ion-header-bar>

  <!-- Modal content area -->
  <ion-content>

    <form ng-submit="createTodo(todo)">
      <div class="list">
        <label class="item item-input">
          <input type="text" placeholder="What do you need to do?" ng-model="todo.title">
        </label>
      </div>
      <div class="padding">
        <button type="submit" class="button button-block button-positive">Create</button>
      </div>
    </form>

  </ion-content>

</div>
